In [1]:
###https://school.programmers.co.kr/learn/courses/30/lessons/12912#
#두 정수 사이의 합
def solution(a, b):
    answer = 0
    
    if b < a:
        a, b = b, a

    for i in range(a, b+1):
        answer += i
    return answer

In [ ]:
#오답 노트 
def solution(a, b):
    answer = 0
    if a == b:         #위 셀에서는 a와 b의 대소구분을 해주는 if구문을 추가함으로써 두개가 같은지 비교하는 해당 if문 필요없어짐
        return a
    elif a < b:
        for i in range(a, b+1):
            answer += i         # 지정하는 변수명은 항상 좌변에!  answer = answer + i
            return answer       # return의 indent가 for문 안에 들어있어 최종적으로 "answer"값을 산출해주지 않고 내부적으로 
                                ## 계속 for문만 돌게되는 문제 --> return answer을 for문 밖으로 뺴줌으로써 for문이 돌 때마다
                                ### answer이 반환되도록 짜야함

In [2]:
#https://programmers.co.kr/learn/courses/30/lessons/12922
##2. 수박수박수박수박수?
def solution(n):
    if n %2 == 0:
        answer = "수박"*(n//2)
    else: 
        answer = "수박"*(n//2) + "수" * (n%2)
    return answer

print(solution(3))
print(solution(4))

수박수
수박수박

In [3]:
#https://programmers.co.kr/learn/courses/30/lessons/12919
#3. 서울에서 김서방 찾기

def solution(seoul):
    idx = seoul.index("Kim")
    name = seoul[idx]
    answer = f"김서방은 {idx}에 있다"
    return answer
# list 는 find(), iloc[] 사용 불가
# 해당 메소드는 Series,DataFrame만 적용가능

In [ ]:
#https://programmers.co.kr/learn/courses/30/lessons/12928
##4. 약수의 합

In [31]:
def solution(n):
    yaksu = []
    answer = 0 
    for i in range(1,n+1):
        if n % i == 0:
            yaksu.append(i)
    for j in yaksu:
        answer = answer + j
    return f"{n}의 약수는 {yaksu}입니다. 이를 모두 더하면 {answer} 입니다."

In [32]:
solution(12)

'12의 약수는 [1, 2, 3, 4, 6, 12]입니다. 이를 모두 더하면 28 입니다.'